.frame-child15 {
  height: 55px;
  width: 206px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-violet);
  display: none;
}
.item-form1 {
  position: relative;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-sm) var(--padding-7xs);
  background-color: var(--color-violet);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.group-button:hover {
  background-color: var(--color-mediumpurple-200);
}
.frame-child16 {
  height: 57px;
  width: 289px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.code1 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  min-width: 52px;
  z-index: 1;
}
.frame-child17,
.rectangle-parent8 {
  width: 289px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.rectangle-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-26xl) var(--padding-base);
}
.frame-child17 {
  height: 57px;
  position: relative;
  display: none;
}
.name2 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  min-width: 57px;
  z-index: 1;
}
.frame-parent7,
.rectangle-parent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent9 {
  width: 289px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-17xl) var(--padding-2xs);
}
.frame-parent7 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child18 {
  height: 57px;
  width: 289px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.price1 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  min-width: 51px;
  z-index: 1;
}
.frame-child19,
.rectangle-parent10 {
  width: 289px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.rectangle-parent10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-16xl) var(--padding-mid);
}
.frame-child19 {
  height: 57px;
  position: relative;
  display: none;
}
.quantity1 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  min-width: 85px;
  z-index: 1;
}
.frame-parent8,
.rectangle-parent11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent11 {
  width: 289px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-17xl) var(--padding-mid);
}
.frame-parent8 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent6 {
  width: 814px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-35xl);
}
.frame-parent5,
.frame-parent6,
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.frame-parent5 {
  margin: 0;
  width: 965px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-32xl);
  box-sizing: border-box;
  gap: var(--gap-56xl);
}
.frame-child20 {
  height: 45px;
  width: 118px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-dodgerblue);
  display: none;
}
.add1 {
  height: 36px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.frame-child21,
.rectangle-parent12 {
  width: 118px;
  border-radius: var(--br-3xs);
}
.rectangle-parent12 {
  background-color: var(--color-dodgerblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-7xl) var(--padding-12xs)
    var(--padding-12xl);
  box-sizing: border-box;
}
.frame-child21 {
  height: 45px;
  position: relative;
  background-color: var(--color-mediumpurple-100);
  display: none;
}
.update1 {
  height: 36px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.frame-child22,
.rectangle-parent13 {
  width: 118px;
  border-radius: var(--br-3xs);
}
.rectangle-parent13 {
  background-color: var(--color-mediumpurple-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-12xs)
    var(--padding-mini);
  box-sizing: border-box;
  color: var(--color-black);
}
.frame-child22 {
  height: 45px;
  position: relative;
  background-color: var(--color-red);
  display: none;
}
.delete1 {
  height: 36px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.frame-child23,
.rectangle-parent14 {
  width: 118px;
  border-radius: var(--br-3xs);
}
.rectangle-parent14 {
  background-color: var(--color-red);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-12xs) var(--padding-12xs)
    var(--padding-xl);
  box-sizing: border-box;
}
.frame-child23 {
  height: 45px;
  position: relative;
  background-color: var(--color-lime);
  display: none;
}
.view1 {
  height: 36px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.frame-parent9,
.item-form-inner,
.rectangle-parent15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent15 {
  width: 121px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lime);
  justify-content: flex-end;
  padding: var(--padding-5xs) 0 var(--padding-12xs) var(--padding-5xl);
  box-sizing: border-box;
}
.frame-parent9,
.item-form-inner {
  max-width: 100%;
}
.frame-parent9 {
  width: 619px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.item-form-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-mid);
  box-sizing: border-box;
}
.frame-child24 {
  height: 45.2px;
  width: 80px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-violet);
  display: none;
}
.back2 {
  height: 36.1px;
  position: relative;
  display: inline-block;
  min-width: 62.7px;
  z-index: 1;
}
.item-form,
.rectangle-parent16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent16 {
  border-radius: var(--br-3xs);
  background-color: var(--color-violet);
  flex-direction: row;
  padding: var(--padding-5xs-1) var(--padding-5xs-2) var(--padding-11xs)
    var(--padding-2xs-1);
}
.item-form {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-34xl) var(--padding-30xl) var(--padding-10xl-8);
  box-sizing: border-box;
  gap: var(--gap-80xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 975px) {
  .frame-parent5 {
    gap: 37px 75px;
  }
}
@media screen and (max-width: 700px) {
  .frame-parent7,
  .frame-parent8 {
    flex-wrap: wrap;
  }
  .frame-parent5 {
    gap: 19px 75px;
  }
  .frame-parent9 {
    flex-wrap: wrap;
  }
  .item-form {
    gap: 49px 99px;
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .code1,
  .name2,
  .price1,
  .quantity1 {
    font-size: var(--font-size-base);
  }
  .frame-parent6 {
    gap: 27px 54px;
  }
  .add1,
  .back2,
  .delete1,
  .update1,
  .view1 {
    font-size: var(--font-size-lgi);
  }
  .item-form {
    gap: 25px 99px;
  }
}
