.order-date {
  position: relative;
  display: inline-block;
  min-width: 118px;
}
.frame-child25 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.line-wrapper1 {
  width: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.frame-wrapper3,
.order-date-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.order-date-parent {
  justify-content: flex-start;
  gap: 15px;
}
.frame-wrapper3 {
  align-self: stretch;
  justify-content: flex-end;
}
.order-id {
  position: relative;
  display: inline-block;
  min-width: 92px;
}
.order-id-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.customer-id,
.item-code {
  position: relative;
}
.item-code {
  display: inline-block;
  min-width: 111px;
}
.frame-child26 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.item-code-parent,
.line-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-wrapper2 {
  width: 104px;
  flex-direction: column;
  padding: var(--padding-2xl) 0 0;
  box-sizing: border-box;
}
.item-code-parent {
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 0;
  gap: 5px;
}
.item-name {
  position: relative;
  display: inline-block;
  min-width: 116px;
}
.frame-child27 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.item-name-parent,
.line-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-wrapper3 {
  width: 104px;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
}
.item-name-parent {
  flex-direction: row;
  padding: 0 var(--padding-18xl) 0 0;
  gap: 8px;
}
.unit-price {
  position: relative;
  display: inline-block;
  min-width: 106px;
}
.frame-child28 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.line-wrapper4,
.unit-price-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-wrapper4 {
  width: 104px;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
}
.unit-price-parent {
  flex-direction: row;
  gap: 13px;
}
.quantity2 {
  position: relative;
  display: inline-block;
  min-width: 96px;
}
.frame-child29 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.line-wrapper5,
.quantity-parent {
  display: flex;
  align-items: flex-start;
}
.line-wrapper5 {
  width: 104px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.quantity-parent {
  gap: 10px;
}
.frame-parent11,
.frame-wrapper4,
.quantity-parent {
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent11 {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  max-width: 100%;
}
.frame-wrapper4 {
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.frame-parent10,
.frame-wrapper4,
.order-form-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent10 {
  width: 1095px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 28.7px;
}
.order-form-inner {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child30 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: #43d200;
  width: 106px;
  height: 33px;
}
.add-to-cart {
  position: absolute;
  top: 7px;
  left: 10px;
  display: inline-block;
  width: 171px;
  height: 36px;
  z-index: 1;
}
.rectangle-parent17 {
  width: 181px;
  height: 43px;
  position: relative;
}
.frame-child31 {
  height: 3px;
  width: 1044px;
  position: absolute;
  margin: 0 !important;
  top: 49px;
  right: -826px;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
}
.frame-child32 {
  height: 214px;
  width: 1.1px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.item-code1 {
  align-self: stretch;
  position: relative;
}
.cart-item-label {
  width: 1044px;
  height: 3px;
  position: absolute;
  margin: 0 !important;
  top: 3px;
  right: -899px;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
}
.item-code-group,
.line-parent1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.item-code-group {
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  position: relative;
}
.line-parent1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 76px 0 0;
  gap: 27.9px;
}
.frame-child33 {
  height: 214px;
  width: 1.1px;
  position: absolute;
  margin: 0 !important;
  right: 57.9px;
  bottom: -3px;
  object-fit: contain;
  z-index: 1;
}
.line-group {
  height: 214px;
  width: 221px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.name3 {
  position: relative;
  display: inline-block;
  min-width: 59px;
}
.name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 3.1px 0 0;
}
.frame-child34 {
  height: 214px;
  width: 1.1px;
  position: relative;
  object-fit: contain;
  min-height: 214px;
  z-index: 1;
}
.price2 {
  position: relative;
  display: inline-block;
  min-width: 52px;
}
.price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 24.1px 0 0;
}
.frame-child35 {
  height: 214px;
  width: 1.1px;
  position: relative;
  object-fit: contain;
  min-height: 214px;
  z-index: 1;
}
.quantity3 {
  align-self: stretch;
  position: relative;
}
.frame-parent14,
.quantity-container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.quantity-container {
  width: 107px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.frame-parent14 {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 46px 0 0;
  min-width: 247px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child36 {
  width: 1.1px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.line-wrapper6 {
  height: 214px;
  width: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.total {
  align-self: stretch;
  position: relative;
}
.total-wrapper {
  width: 107px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
}
.frame-child37 {
  height: 214px;
  width: 1.1px;
  position: relative;
  object-fit: contain;
  min-height: 214px;
  z-index: 1;
}
.frame-parent13 {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
  max-width: 100%;
}
.frame-child38,
.frame-wrapper6 {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2.9px 0 0;
  max-width: 100%;
}
.frame-child38 {
  height: 3px;
  position: relative;
  border-top: 3px solid var(--color-black);
}
.frame-parent12 {
  width: 1044px;
  flex-direction: column;
  align-items: flex-end;
}
.frame-parent12,
.frame-section,
.frame-wrapper5 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper5 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-section {
  width: 1123px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-lgi);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-child39 {
  height: 45.2px;
  width: 80px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-violet);
  display: none;
}
.back3 {
  height: 36.1px;
  position: relative;
  display: inline-block;
  min-width: 62.7px;
  z-index: 1;
}
.frame-wrapper7,
.rectangle-parent18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent18 {
  border-radius: var(--br-3xs);
  background-color: var(--color-violet);
  flex-direction: row;
  padding: var(--padding-5xs-1) var(--padding-5xs-2) var(--padding-11xs)
    var(--padding-2xs-1);
}
.frame-wrapper7 {
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
}
.frame-child40 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #d5324f;
  width: 106px;
  height: 33px;
}
.place-order {
  position: absolute;
  top: 7px;
  left: 10px;
  display: inline-block;
  width: 171px;
  height: 36px;
  z-index: 1;
}
.rectangle-parent19 {
  height: 43px;
  width: 181px;
  position: relative;
  font-size: var(--font-size-sm);
}
.frame-footer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.order-form {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 99px 64px var(--padding-10xl-8) var(--padding-30xl);
  box-sizing: border-box;
  gap: 31.5px;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-parent11 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .frame-child37 {
    width: 100%;
    height: 1.1px;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent11 {
    gap: 48px 24px;
  }
  .frame-parent14 {
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .order-form {
    gap: 16px 31.5px;
    padding-left: var(--padding-5xl);
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .customer-id,
  .item-code,
  .item-name,
  .order-date,
  .order-id {
    font-size: var(--font-size-base);
  }
  .item-name-parent {
    flex-wrap: wrap;
  }
  .item-code1,
  .name3,
  .quantity2,
  .unit-price {
    font-size: var(--font-size-base);
  }
  .frame-child34 {
    width: 100%;
    height: 1.1px;
  }
  .price2 {
    font-size: var(--font-size-base);
  }
  .frame-child35 {
    width: 100%;
    height: 1.1px;
  }
  .quantity3 {
    font-size: var(--font-size-base);
  }
  .frame-parent14 {
    flex-wrap: wrap;
  }
  .total {
    font-size: var(--font-size-base);
  }
  .back3 {
    font-size: var(--font-size-lgi);
  }
  .frame-footer {
    flex-wrap: wrap;
  }
}
